/* You can add global styles to this file, and also import other style files */

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.w-100 {
  width: 100%;
}

.btn {
  min-width: 40px;
  padding: 1rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}