.pokemon-list-container {
  width: 100%;
  float: left;

  .pokemon-container {
    display: inline-block;
    cursor: pointer;
  }

  .load-more {
    width: 100%;
    margin-top: 3rem;
    text-align: center;

   //  .load-more-button {
   //    width: 20%;
   //  }
  }

  @media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .pokemon-container {
       width: 100%;
    }
 }
 @media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .pokemon-container {
       width: 50%;
    }
 }
 @media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .pokemon-container {
       width: 33.3%;
    }
 }
 @media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .pokemon-container {
       width: 25%;
    }
 }

 @media only screen and (min-width : 1291px) {
    /* :arge desktop: 5 tiles */
    .pokemon-container {
      width: 20%;
    }
  }
}

